{% load static %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
  
  <div class="col-md-8 px-4"><h4>{{ self.question }}</h4>
    
    {{self.choice2}}
    {{self.choice3}}
    {{self.choice4}}
</div>

        <div id="game">

            <h6 id="question">{{ self.question }}</h6>
            <div class="choice-container">
                <p class="choice-prefix">A</p>
                <p class=" text-align-left align-center choice-text" data-number="1">{{self.choice1}}</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">B</p>
                <p class="choice-text" data-number="2">{{self.choice2}}</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">C</p>
                <p class="choice-text" data-number="3">{{self.choice3}}</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">D</p>
                <p class="choice-text" data-number="4">{{self.choice4}}</p>
            </div>
        </div>






<script>
    
const question = document.getElementById('question');
const choices = Array.from(document.getElementsByClassName("choice-text"));
const questionCounterText = document.getElementById('questionCounter');
const scoreText = document.getElementById('score');
const progressBarFull = document.getElementById('progressBarFull');
const loader = document.getElementById("loader");
const game = document.getElementById("game");


let currentQuestion = {};
let acceptingAnswers = false;
let score = 0;
let questionCounter = 0;
let availableQuestions = [];

let questions = [];



fetch("https://www.teachingperiodically.com/quiz-demo/questions.json")
  .then(res => {
    return res.json();
  })
  .then(loadedQuestions => {
    console.log(loadedQuestions);
    questions = loadedQuestions;
    startGame();
  })
  .catch(err => {
    console.error(err);
  });


const CORRECT_BONUS = 10;
const MAX_QUESTIONS = 10;


startGame = () => {
    questionCounter = 0;
    score = 0;
    availableQuestions = [...questions];
    getNewQuestion()
    game.classList.remove("hidden");
    loader.classList.add("hidden");
}

getNewQuestion = () => {

if (availableQuestions.length === 0 || questionCounter >= MAX_QUESTIONS) {
    localStorage.setItem('mostRecentScore', score)
    return window.location.assign('end.html')
}

    questionCounter ++;
    questionCounterText.innerText = `${questionCounter}/${MAX_QUESTIONS}`
    //Update the progress bar
    progressBarFull.style.width = `${(questionCounter/ MAX_QUESTIONS) * 100}%`   


    const questionIndex = Math.floor(Math.random() * availableQuestions.length);
    currentQuestion = availableQuestions[questionIndex];
    question.innerText =currentQuestion.question;


    choices.forEach( choice => {
        const number = choice.dataset['number'];
        choice.innerText = currentQuestion['choice' + number]
    })

    availableQuestions.splice(questionIndex,1);

    acceptingAnswers = true;
};

choices.forEach(choice =>{
    choice.addEventListener('click', e=>{
       if(!acceptingAnswers) return;

       acceptingAnswers = false;
       const selectedChoice = e.target;
       const selectedAnswer = selectedChoice.dataset['number'];
      
      
        const classToApply = selectedAnswer == currentQuestion.answer ? 'correct' : 'incorrect';
        
        if (classToApply=="correct") {
            incrementScore(CORRECT_BONUS)
        }
        selectedChoice.parentElement.classList.add(classToApply);
      
        setTimeout(() => {
        selectedChoice.parentElement.classList.remove(classToApply);
        getNewQuestion();

        }, 800);
      
    })
})

incrementScore = num => {
    score +=num;
    scoreText.innerText = score;
}



</script>