.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 225, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    background-color: #1c0c5a;
}

.choice-container:hover>.choice-text {
    color: white;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745 !important;
    border: 2px solid #2fdb57 !important;
}

.incorrect {
    background-color: #dc3545 !important;
    border: 2px solid rgb(255, 7, 32) !important;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-main-text {
    text-align: center;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
}


