/* ----- BASIC SETUP----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Raleway', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 10 auto;
}

.logo {
    height: 40px;
    width: auto;
    float: left;
}

.logo-black {
    width: auto;
    float: left;
    margin: 5px 0px;
    display: none;
    height: 50px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px
}



.main-nav li {
    display: inline;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s,
}

.main-nav li a:active, .main-nav li a:hover {
    border-bottom: 3px solid #2b7ce6;
    
}


.navbar-nav li a:link, .navbar-nav li a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s, font-weight 0.5s;
}


.navbar-nav li a:active, .navbar-nav li a:hover {
    border-bottom:  px solid #fff;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(7, 12, 59, 0.98);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    transition: margin-top 0.5s, display 0.5s;
}

.sticky .navbar-nav {
    margin-top: 10px;
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited, .sticky .navbar-nav li a:link, .sticky .navbar-nav li a:visited {
    padding: 2px 10px;
    color: #efefef;
    font-weight: normal;
}

.sticky .main-nav li a:hover, .sticky .main-nav li a:active, .sticky .navbar-nav li a:hover, .sticky .navbar-nav li a:active {
    border-bottom: 3px solid #fff;
}

.sticky .logo {
    display: none
}

.sticky .logo-black {
    display: block;
    margin-left: 150px;
    margin-top: 15px;
    max-height: 50px;
    width: auto;
}