{% extends 'core/master.html' %}
{% load wagtailimages_tags static wagtailcore_tags %}

{% block extra_css %}
<style>
    .TP {
        background-color: rgba(7, 12, 59, 0.90);
        color: white;
    }

    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
        height: 16vw;
    }


    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        align-items: center;
    }
</style>
{% endblock extra_css %}

{%block content %}
<div class="container js--content">
    <div class="card border-dark my-4">
        <div class="card-body text-left">{{self.description|richtext}}</div>
    </div>

    {% for lesson in modules %}
    <div class="card shadow border">
        <div class="card-header border-dark TP">
            <h5 class="mt-0 text-center font-weight-bold ">{{lesson}}</h5>
        </div>
        <div class="card-body border-dark">
        <div class="row no-gutters bg-light position-relative border mb-3">
            <div class="col-md-4 mb-md-0 p-md-4">
                <img src="{% static 'img/bg.png' %}" class="w-100 pt-xl-3 mb-md-10" alt="...">
            </div>
            <div class="col-md-8 position-static p-4 pl-md-0">
                <p>{{lesson.lesson_summary|richtext}}</p>
                <button class="btn btn-primary  btn-block"><a href="{{lesson.url}}"
                        class="text-white stretched-link rounded">View Lesson</a></button>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}



    {% endblock content %}
</div>