{% extends 'core/master.html' %}
{% load wagtailimages_tags static %}

{% block extra_css %}
<style>
    .services .icon-box {
        text-align: center;
        background: rgba(204, 204, 204, 0.3);
        padding: 20px 20px;
        transition: all ease-in-out 0.3s;
        border: 1px black solid;
        box-shadow: 0 0.5rem 1rem rgba(29, 15, 219, 0.274) !important; 

    }

    .icon-box:hover {
        background: rgba(102, 204, 204, 0.5);
        scale: 1.01;
        box-shadow: 0 0.5rem 1rem rgba(29, 15, 219, 0.05) !important; 
       
        
    }
</style>


{% endblock extra_css %}

{% block content %}
<section id="services" class="services">
    <div class="container js--content">

        <div class="col-12 py-4">
            <h2 class="text-dark text-center">Modules</h2>
        </div>

        <div class="row ">
            {% for module in modules %}
            <div class="col-lg-4 col-md-4 d-flex align-items-stretch border-dark">
                <div class="icon-box shadow">
                    <div class="icon">
                        <picture><img height="50px" width="50px" src='{% static "img/lesson-icon.png" %}'></picture>
                    </div>
                    <h4><a href="{{module.url}}">{{module}}</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>
            {% endfor %}

            <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Sed ut perspiciatis</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Magni Dolores</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Nemo Enim</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">Dele cardo</a></h4>
                    <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Divera don</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div> -->

        </div>

    </div>
</section><!-- End Services Section -->
<!-- <div class="container js--content">
        <div class="row">
            <div class="col-12 py-4">
                <div class="row">
                <div class="col-lg-6">
                <h1> {{self.title}} </h1>
                    <p>{{self.description}}</p>
                    <a href="{{self.internal_page}}">Example Lesson</a>
                </div>
                <div class="col-lg-6 clearfix">
                    <picture>                        
                        {% image self.image fill-350x420 as image %}
                    <img src="{{image.url}}" alt="{{image.alt}}" height="auto;" style="width:100%">
                    </picture>
                </div>
                
            </div>
            </div>
        </div>

           
        </div>
    {% endblock content %}