{% extends "core/master.html" %}
{% load static wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load menu_tags %}



{% block content %}

<div class="container-fluid">
    {% if self.subject_quote %}
    <div class="row pt-4">
        <blockquote>{{self.subject_quote|richtext}}</blockquote>
    </div>
    {%  endif %}
    <!-- <div class="row py-4">
        {% if self.subject_quote %}
                    <blockquote class="shadow">{{self.subject_quote|richtext}}</blockquote>
                    {%  endif %}
        
        <div class="col-lg-6">
            <div class="row">
                <img class="subject" src='{{img.url}}' alt='{{img.alt}}'>

                {% for card in keystages %}
                <div class="card shadow card-elegant text-center">
                    <div class="card-title">
                        <a href="{{card.url}}">{{card.title}}</a>
                    </div>
                    <div class="card-body">
                        <small class="card-text">{{card.description}}</small>
                        </a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6 pt-lg-0">
            <section class="subject-description text-justify">
                {{self.subject_content|richtext}}
            </section>
        </div>


    </div> -->
    {% image page.subject_image fill-540x405 as img %}
    <div class="row pt-2">
        <div class="col-lg-6">
            <img src="{{img.url}}" class="img-fluid" alt="{{img.alt}}">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
            {{self.subject_content|richtext}}
        </div>
    </div>
</div>
</div>
<section class="keystage">
    <div class="row">
        {% for card in keystages %}
        <div class="col-lg-4 col-12">
            <div class="text-center card shadow card-elegant">
                <div class="card-title">
                    <a href="{{card.url}}">{{card.title}}</a>
                </div>
                <div class="card-body">
                    <small class="card-text">{{card.description}}</small>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock content %}