{% extends "core\master.html" %}
{% load static wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load menu_tags %}



{% block content %}

<div class="container js--content">
 <div class="row">
        <div class="col-12 py-4">
           
            {% comment %}                 
            {% for cycle in self.key_stage_card.all %}
            <div class="row">
                <div class="card shadow card-dark">
                    <div class="card-header text-center">
                        <h5 class="text-uppercase font-weight-bolder text-center align-middle">{{cycle.title}}</h5>
                        <p class="text-right">
                            {{cycle.description|richtext}}
                        </p>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled card-columns">
                        {%for block in cycle.content %}
                        {% include_block block %}
                        {%endfor%}
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            {% endcomment %}

            <div class="row mt-4">
            {% for card in keystages %}                    
                <div class="col-md-5 d-flex align-content-stretch">
                    <div class="card mb-4 text-center">
                        <a href="{{card.url}}">
                        <picture>
                            {% image card.image fill-573x369 as img %}
                            <img src="{{img.url}}" alt="{{img.alt}}" class="lazy card-img-top">
                        </picture>
                        </a>
                        <div class="card-body py-3 px-3">
                            <a href="{{card.url}}">
                                <h5 class="card-title">{{card.title}}</h5>
                                <p class="card-description">{{card.description}}</p>
                            </a>
                            <p class="card-text">@TODO</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>




        </div>
    </div>
    <!--/row-->
</div>
<!--container-->

{% endblock content %}