/* ----- BASIC SETUP----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Raleway', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----- REUSABLE COMPONENTS ----- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/heroimg.webp"); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* ----- HEADINGS ----- */

h1, h2, h3 {
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #2b7ce6;
    ;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.box {
    padding: 1%;
}

/* ----- PARAGRAPHS ----- */

.long-copy {
    line-height: 145%;
    width: 75%;
    margin-left: 15%;
    margin-bottom: 25px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */

.icon-big {
    font-size: 300%;
    display: block;
    color: #2b7ce6;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #2b7ce6;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border: 1px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s, font-weight 0.2s, font-size 0.2s;
    font-weight: bolder;
}

.btn:hover, .btn:active {
    background-color: #140d52;
}

.btn-full:link, .btn-full:visited {
    background-color: #140d52;
    color: #fff;
    border: 1px solid #140d52;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #4f41ca;
    color: #fff;
}

.btn:hover, .btn:active {
    background-color: #0f5bcc;
}

.btn-full:hover, .btn-full:active {
    background-color: #0f5bcc;
    border: 1px solid #053174;
    font-weight: bold;
    font-size: 120%;
}

.btn-ghost:hover, .btn-ghost:active {
    background-color: #0f5bcc;
    border: 1px solid #053174;
    color: #fff;
}

.logo {
    height: 125px;
    width: auto;
    float: left;
    margin-top: 5px;
}

.logo-black {
    width: auto;
    float: left;
    margin: 5px 0px;
    display: none;
    height: 50px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px
}

.main-nav li {
    display: inline;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s, font-weight 0.5s;
}

.main-nav li a:active, .main-nav li a:hover {
    border-bottom: 3px solid #2b7ce6;
    font-weight: bold;
}

section {
    padding: 60px 0
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(24, 23, 85, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    transition: margin-top 0.5s;
}

.sticky .main-nav {
    margin-top: 15px
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    padding: 5px 0;
    color: #efefef;
    font-weight: normal;
}

.sticky .main-nav li a:hover, .sticky .main-nav li a:active {
    padding: 5px 0;
    font-weight: bold;
}

.sticky .logo {
    display: none
}

.sticky .logo-black {
    display: block;
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/*##########################
 SUBJECTS SHOWCASE CSS 
######################### */

.section-subjects {
    padding: 0;
}

.subjects-showcase {
    list-style: none;
    width: 100%;
}

.subjects-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.subject-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    max-height: 225px;
}

.subject-photo img {
    width: 100%;
    opacity: 0.7;
    height: auto;
    transform: scale(2.15);
    transition: transform 0.5s, opacity 0.5s;
}

.subject-photo img:hover {
    opacity: 1.0;
    transform: scale(1.03);
}

/*##########################
 HOW IT WORKS CSS 
######################### */

.section-steps {
    background-color: #f4f4f4
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.question-generator {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #0f5bcc;
    border: 2px solid #0f5bcc;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 50px;
    text-align: center;
    padding: 5px;
    /* float: left; */
    font-size: 150%;
    margin-right: 25px;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    max-height: 78px;
}

.exam-feature {
    margin-bottom: 5px
}

a:link, a:visited {
    color: #0248a3;
    text-decoration: none;
    border-bottom: 1px solid #0248a3;
    transition: border-botton 0.2s, color 0.2s, font-weight 0.2;
}

a:active, a:hover {
    color: #140d52;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-weight: bold
}

.section-boards {
    text-align: center;
}

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg.webp");
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    text-align: center;
}

cite img {
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li, .social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child, .social-icons li:last-child {
    margin: 0
}

.social-icons {
    list-style: none;
    float: right;
}

.social-icons li a:visited, .social-icons li a:link, .footer-nav li a:visited, .footer-nav li a:link {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover, .footer-nav li a:active {
    color: #ddd
}

footer p {
    color: inherit;
    text-align: center;
    margin-top: 20px;
}